<%= form_with(model: leaseholder) do |form| %>
  <% if leaseholder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(leaseholder.errors.count, "error") %> prohibited this leaseholder from being saved:</h2>

      <ul>
        <% leaseholder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :property_account, style: "display: block" %>
    <%= form.text_field :property_account %>
  </div>

  <div>
    <%= form.label :polygon, style: "display: block" %>
    <%= form.text_field :polygon %>
  </div>

  <div>
    <%= form.label :mean_reviews, style: "display: block" %>
    <%= form.number_field :mean_reviews %>
  </div>

  <div>
    <%= form.label :credit, style: "display: block" %>
    <%= form.number_field :credit %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.label :id_picture_front, style: "display: block" %>
    <%= form.text_field :id_picture_front %>
  </div>

  <div>
    <%= form.label :id_picture_back, style: "display: block" %>
    <%= form.text_field :id_picture_back %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
