<div id="<%= dom_id leaseholder %>">
  <p>
    <strong>Property account:</strong>
    <%= leaseholder.property_account %>
  </p>

  <p>
    <strong>Polygon:</strong>
    <%= leaseholder.polygon %>
  </p>

  <p>
    <strong>Mean reviews:</strong>
    <%= leaseholder.mean_reviews %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= leaseholder.credit %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= leaseholder.status %>
  </p>

  <p>
    <strong>Id picture front:</strong>
    <%= leaseholder.id_picture_front %>
  </p>

  <p>
    <strong>Id picture back:</strong>
    <%= leaseholder.id_picture_back %>
  </p>

</div>
