<%= form_with(model: lessor) do |form| %>
  <% if lessor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lessor.errors.count, "error") %> prohibited this lessor from being saved:</h2>

      <ul>
        <% lessor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :credit, style: "display: block" %>
    <%= form.number_field :credit %>
  </div>

  <div>
    <%= form.label :mean_reviews, style: "display: block" %>
    <%= form.number_field :mean_reviews %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
