<%= form_with(model: rental_agreement) do |form| %>
  <% if rental_agreement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rental_agreement.errors.count, "error") %> prohibited this rental_agreement from being saved:</h2>

      <ul>
        <% rental_agreement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :timestamp_start, style: "display: block" %>
    <%= form.datetime_field :timestamp_start %>
  </div>

  <div>
    <%= form.label :timestamp_end, style: "display: block" %>
    <%= form.datetime_field :timestamp_end %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
